---
title: Advanced
layout: base
tags: page
permalink: advanced.html
scripts: ["password.js"]
date: 2000-01-02
---

<div>
	<h1>Generate a password</h1>
	<p>Here you can modify the number of words, numbers and symbols in the password</p>
</div>
<div>
	<form>
		<label for="words"> Words </label><br />
		<input type="number" placeholder="Number of words. Eg. 10" id="words" />
		<label for="numbers"> Numbers </label><br />
		<input type="number" placeholder="Number of digits. Eg. 10" id="numbers" />
		<label for="symbols"> Symbols </label><br />
		<input type="number" placeholder="Number of symbols. Eg. 10" id="symbols" />
		<label for="ascii"> Random ASCII </label><br />
		<input type="number" placeholder="Number of ASCII characters. Eg. 10" id="ascii" />

		<p>Shuffle?</p>

		<input type="radio" name="shuffle" value="1" id="shuffle" checked="checked" /><label for="shuffle">Yes</label><br />
		<input type="radio" name="shuffle" value="2" id="shuffle-no" /><label for="shuffle-no">No</label><br />

		<p>Capitalize first letter of each word?</p>

		<input type="radio" name="uppercase" value="1" id="uppercase" checked="checked" /><label for="uppercase">Yes</label><br />
		<input type="radio" name="uppercase" value="2" id="uppercase-no" /><label for="uppercase-no">No</label><br />

		<p>Use custom wordlist?</p>
		<input type="radio" name="customwl" value="1" id="customwl" /><label for="customwl">Yes</label><br />
		<input type="radio" name="customwl" value="2" id="customwl-no" checked="checked" /><label for="customwl-no">No</label><br />

		<textarea style="display: none" rows="20" cols="1" id="list"></textarea>
		<label type="button" for="files">📂 Open Wordlist</label><br />
		<input type="file" id="files" style="display:none;" onchange="openWordlist()" />


		<label for="wordlist"> Wordlist </label><br />
		<select id="wordlist">
			<option value="1k">1k</option>
			<option value="10k" selected="selected">10k</option>
			<option value="100k">100k</option>
		</select>
		<label for="output"> Output: </label><br />
		<textarea rows="4" cols="1" id="output"></textarea>
		<label for="password-strength">Password Strength</label><br />
		<progress id="password-strength" max="100" value="0"></progress>
	</form>
	<div>
		<button onclick="new_complex()">🔃 Generate</button>
		<button onclick="copy()">📋 Copy Output</button>
	</div>
</div>
