---
title: Simple
layout: base
tags: page
permalink: index.html
scripts: ["password.js"]
date: 2000-01-01
---
<div>
	<h1>Generate a password</h1>
	<p>Tap/ click below to generate a password</p>
</div>
<div>
	<form>
		<label for="output"> Output: </label>
		<textarea rows="4" cols="1" id="output"></textarea>
		<label for="password-strength">Password Strength</label>
		<progress id="password-strength" max="100" value="0"></progress>
	</form>
	<div>
		<button onclick="new_complex()">🔃 New Complex (recommended)</button>
		<button onclick="new_no_special()">🔃 New (no special chars)</button>
		<button onclick="new_four_words()">🔃 New (4 words)</button>
		<button onclick="copy()">📋 Copy Output</button>
	</div>
</div>
