<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
	<head>
		<link rel="stylesheet" href="css/styles.css" />

		<script>
			if ("serviceWorker" in navigator) {
				navigator.serviceWorker.register("sw.js", {
					scope: "",
				})
			}
		</script>
		<title>{{ title }}</title>
		<link rel="manifest" href="manifest.json" />
		<meta name="theme-color" content="{{ config.accent }}" />
		<link rel="apple-touch-icon" sizes="180x180" href="images/appicons/square-180.png" />
		<link rel="icon" type="image/png" sizes="256x256 32x32" href="images/appicons/squircle-256.png" />
		<meta
			name="description"
			content="{% if description %}{{ description }}{% else %}{{ config.description }}{% endif %}"
		/>
		<meta
			name="keywords"
			content="{% if keywords %}{{ keywords }}{% else %}{{ config.keywords }}{% endif %}"
		/>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
	</head>
	<body>
		<header>
		<h1>{{ config.projectName }}</h1>
		{% include "navigation.njk" %}</header>
		<main>
		{{ content | safe }}
		</main>
		{%- for item in scripts -%}
		<script src="js/{{ item }}"></script>
		{%- endfor -%}
	</body>
</html>
