{
	"name": "{{config.projectName}}",
	"short_name": "{{config.projectName}}",
	"lang": "en-GB",
	"start_url": "index.html",
	"display": "standalone",
	"background_color": "#000000",
	"theme_color": "{{config.accent}}",
	"icons": [
		{
			"src": "images/appicons/round-192.png",
			"sizes": "192x192",
			"type": "image/png"
		},
		{
			"src": "images/appicons/round-512.png",
			"sizes": "512x512",
			"type": "image/png"
		},
		{
			"src": "images/appicons/mask.png",
			"sizes": "512x512",
			"type": "image/png",
			"purpose": "maskable"
		}
	],
	"shortcuts": [
		{%- for item in collections.page -%}
		{
			"name": "{{item.data.title}}",
			"url": "{{item.fileSlug}}",
			"icons": [
				{
					"src": "images/shorticons/{{item.fileSlug | replace(".html", ".png")}}",
					"sizes": "192x192",
					"type": "image/png"
				}
			]
		}{% if not loop.last %},{% endif %}
		{%- endfor -%}
	]
}
